{% extends '::base.html.twig' %}


{% block content %}

    <h1>C'est la galerie de photos !!!</h1>
    {{ form(form) }}
    
    
    <h2>Les photos</h2>
    {% for photo in photos %}
        <div>
            <img src="{{ asset(media.uploadDir ~ '/' ~ photo.id ~ '.' ~ photo.extension) }}" alt="{{ photo.alt }}"/>
            <hr>
        </div>


{% endfor %}
{% endblock %}